body{
    background-image: url(img/st\ dashboard\ bg.jpg);
    background-size: cover;
}
.container{
    margin-left:20%;
    margin-top: 30px;
}
h1{
    font-size: 70px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
button{
    /* margin-top: 40px; */
    width: 70%;
    height: 60px;
    font-size: 30px;
}
.quiz{
    background-color: rgb(242, 0, 0);
    color: white;
    margin-top: 20px;
}
.performance{
    background-color: blue;
    color: white;
    margin-top: 40px;
}
.logout{
    background-color: yellowgreen;
    color: white;
    margin-top: 40px;
}