{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONLINE QUIZ PLATFORM</title>
    <link rel="stylesheet" href="{% static 'index1.css' %}">
</head>
<body>
    <div  class="container1">
        <h1 class="container1-heading"><u>GK GENIUS</u></h1>
    </div>
    <div class="container2">
        <div class="container2-img">
            <img src="{% static 'img/quiz1.jpg' %}" class="container1-img1">
        </div>
        <div class="container2-content">
            <span class="container2-para1">Welcome You Heartly</span><br>
            <span class="container2-para2">Test Your Ability <br>Here By Taking Online Quiz</span><br>
            <a href="/login" class="container1-click"><button type="submit" class="container1-button">Start</button></a>
            <!-- <button type="submit" class="container1-button"><a href="/admin1">Admin</a></button> -->
        </div>
    </div>
</body>
</html>